<% posts.each do |post|%>
  <div class="row">
    <div class="col-xs-6 col-md-9">
      <p class='text-right bottom-txt'><%= post.created_at %>, <%= post.level %>楼 </p>
    </div>
    <div class="col-xs-12 col-md-9 font_big">
      <%= raw post.content %>
    </div>
  </div>
<% end %>

