<div class="row-fluid">
  <div class="span3">
		<ol>
			<li><a href="#">说明</a></li>
			<li><a href="#">帮助</a></li>
			<li><a href="#">下载</a></li>
		</ol>
	</div>
	<div class="span8">
		<h4>关于本站</h4>
		<p> <%= format_text @page.body %>
		</p>
	</div>
</div>

