<% @page_title = "首页" %>
<div class="alert alert-info">
  <i class="icon-bullhorn"></i> : <%=raw @page.body  unless @page.nil? %>
</div>

<div class="well">
  <form class="form-search" action="<%= search_path %>"  method = "get" >
    <input type="text" class="input-xlarge search-query" name="q" placeholder="输入内容或网址...">
    <button type="submit" class="btn btn-primary"><i class="icon-search icon-white"></i>只看楼主</button>
  </form>
</div>
<div class="row-fluid">
  <div class="span6">
    <h4>最新脱水</h4>
    <ul>
      <%= render :partial => "homeitem", :collection => @articles %>
    </ul>
  </div>
  <div class="span6">
    <h4>热门推荐</h4>
    <ol>
      <%= render :partial => "homeitem", :collection => @hot_articles %>
    </ol>
  </div>
</div>
<div class="well">
  <p>简单布局，突出内容，明确主题，智能的后台.增加用户阅读管理功能，使用腾讯和其他网站帐户登录
  ，一键分享功能。多家网站帖子统一入口管理，实时跟踪保存多个社区的连载、直播贴.</p>
</div>

