	<div class="alert alert-info">
		<i class="icon-bullhorn"></i> : 查看后台数据库设置
	</div>

	<div>
		<% if @pages && @pages.length > 0%>
			<%= render @pages %>	
		<% else %>
			<p>没有内容,请访问 /pages/new 新建title为：“公告”，“关于”，“广告”的信息。</p>
		<% end %>
	</div>
<div class="well">
		<p>简单布局，突出内容，明确主题，智能的后台.增加用户阅读管理功能，使用腾讯和其他网站帐户登录
，一键分享功能。多家网站帖子统一入口管理，实时跟踪保存多个社区的连载、直播贴.</p>
	</div>

