<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @flink.name %>
</p>

<p>
  <strong>Image:</strong>
  <%= @flink.image %>
</p>

<p>
  <strong>Description:</strong>
  <%= @flink.description %>
</p>

