/*
 *= require editor
 *= require p
 *= require_self
 */

/*$link-color: blue;*/

@import "bootstrap";

body{
  padding-top: 0px;
  color: #222;
  background: #F5F9FA;
}

.container-fluid{
  padding: 0;
}

.navbar-fixed-top {
  position: static;
  right: 0;
  left: 0;
  margin-bottom: 20px;
}

small {
  color: #999;
}
.mlink {
  margin: 0 5px;
}
.list-group-item {
  padding: 5px 5px;
}
.center {
  text-align: center;
}
.pagination {
  margin: 5px 0 0 0;
}
