body {
  padding:0 7px;
  padding-top: 0px;
}
.navbar-fixed-top {
  position: static;
  margin-bottom: 8px;
}

.container,
.navbar-fixed-top .container  { width:auto; padding: 0; min-width:0; max-width:940px;}
.container-fluid > .content {
  margin:0;
}

.pagination {
  li { display:none; }
  li.active,
  li.prev,
  li.first,
  li.last,
  li.next { display:inline; }
  li.active { border:none;
    a {
      background:#F0F0F0;
      color:#666;
    }
  }
}
