// Place all the styles related to the p controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.font_big {
  font-family: "Galdeano","Hiragino Sans GB","Microsoft YaHei",Trebuchet,"Trebuchet MS",Tahoma,"Lucida Grande","Lucida Sans Unicode",Verdana,sans-serif;
  font-size: 18px;
  line-height: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #E5ECF9;
  text-align: left;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  min-height: 30px;
  line-height: 30px;
}
.font_big:hover {
/*  background: #D5EFF9; */
}
.font_big , .font_big p {
  font-size: 18px;
  min-height: 30px;
  line-height: 30px;

}
p.bottom-txt {
    color: #333;
    margin: 0;
    padding: 0;
    font-size: 13px;
    min-height: 16px;
    line-height: 20px;
  }

.backToTop {
  display: none;
  width: 18px;
  line-height: 1.2;
  padding: 5px 0;
  background-color: #000;
  color: #fff;
  font-size: 12px;
  text-align: center;
  position: fixed;
  _position: absolute;
  right: 10px;
  bottom: 100px;
  _bottom: "auto";
  cursor: pointer;
  opacity: .6;
  filter: Alpha(opacity=60);
}
